<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lösenord</title>
  <link rel="stylesheet" href="/public/css/index.css">
  <script defer src="/public/js/index.js"></script>
</head>
<body>
  <div id="root">
    <div class="container">
      <span class="title">Gymnasiearbete, testa säkerheten i ditt lösenord!</span>
      <input type="text" class="password" placeholder="Skriv in ett lösenord">
      <button class="submit">Testa!</button>
      <div class="slider">
        <div class="dot"></div>
      </div>
    </div>
  </div>
</body>
</html>